$backgroundTwo: 'https://images.pexels.com/photos/3865544/pexels-photo-3865544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';


.home__section-container {
  height: 100%;
  width: 100%;
  padding: 70px 70px;
  z-index: -1000;
  background-image: url($backgroundTwo);

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .home__section-inner-container {
    position: relative;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    
    .home__section-box {
      height: 100%;
      display: grid;
      justify-content: space-between;
      position: relative;
      // overflow: hidden;
      z-index: -1;
      text-align: center;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 5px 20px rgba(0,0,0,0.5);
      padding: 10px;
      width: 100%;
      padding: 20px;
      h1 {
        color: wheat;
      }
      p {
        padding: 20px 0px;
        height: 100px;
        font-size: 1.2em;
      }
        
        img {
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 400px;
          background-position: center;
          background-size: cover;
          padding: 0px 10px;
        }
    }
  }
}

@media only screen and (max-width: 700px) {
  .home__section-container {
    .home__section-inner-container {
      .home__section-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 300px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .home__section-container {
    .home__section-inner-container {
      padding: 0 30px;
      .home__section-box {
        display: flex;
        flex-direction: column;
        align-items: center;
          h1 {
            font-size: 1.5em;
          }
          p {
            font-size: 0.8em;
            padding: 20px;
          }
        img {
          width: 200px;
        }
      }
    }
  }
}

// home section 2 styles
.home__section-two-container {
  padding: 70px 70px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url('../images/plane.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
  // background: rgb(142, 165, 143);
  .home__section-two-top-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    .home__section-two-top-desc {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-content: center;
      height: 100%;
      width: 500px;
      h1 {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: wheat;
        font-size: 2.5em;
        padding: 10px;

      }
      p {
        font-size: 1.5em;
        padding: 20px 10px;
        height: 100%;
        line-height: 2em;
      }
    
    }
  }
  .home__section-two-bottom-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    .home__section-two-bottom-desc {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-content: center;
      height: 100%;
      width: 500px;
      h1 {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: wheat;
        padding: 10px;

      }
      p {
        font-size: 1.5em;
        padding: 20px 10px;
        height: 100%;
        line-height: 2em;

      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .home__section-two-container {
    .home__section-two-top-container {
      .home__section-two-top-desc {
        h1 {
          font-size: 1.5em;
          padding: 0 40px;
        }
        p {
          font-size: 0.8em;
          padding: 0 40px;
        }
      }
    }
    .home__section-two-bottom-container {
      .home__section-two-bottom-desc {
        h1 {
          font-size: 1.5em;
        }
        p {
          font-size: 0.8em;
          padding: 0 40px;

        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .home__section-two-container {
    .home__section-two-top-container {
      .home__section-two-top-desc {
        h1 {
          font-size: 1.5em;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
    .home__section-two-bottom-container {
      .home__section-two-bottom-desc {
        h1 {
          font-size: 1.5em;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}

// home__section-news styles
.home__section-news-container {
  padding: 70px 70px;
  height: 100%;
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url('../images/news.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1000px 1000px;
  .home__section-news-header {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      height: 100px;
    }
  }
  .home__section-news-inner {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    height: 100%;
    width: 100%;
    grid-row-gap: 20px ;
    // overflow: hidden;

    .home__section-news-bx:nth-child(1) {
      width: 100%;
      
      // display: flex;
      // background-color: rgb(0, 0, 0);
      // box-shadow: 0 5px 20px rgba(0,0,0,0.5);
      // padding: 10px 10px;
      //   position: fixed;
      // width: 100%;
      // padding: 8px 100px;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      // transition: 0.5s;
      background: rgba(0, 0, 0, 0.3);
      // box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
    .home__section-news-bx:nth-child(2) {
      width: 100%;

      // top: 0;
      // left: 0;
      // width: 100%;
      // padding: 8px 100px;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      // transition: 0.5s;
      background: rgba(0, 0, 0, 0.3);
      // box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
    .home__section-news-bx:nth-child(3) {
      width: 100%;

      // top: 0;
      // left: 0;
      // width: 100%;
      // padding: 8px 100px;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      // transition: 0.5s;
      background: rgba(0, 0, 0, 0.3);
      // box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
    .home__section-news-bx:nth-child(4) {
      width: 100%;

      // top: 0;
      // left: 0;
      // width: 100%;
      // padding: 8px 100px;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      // transition: 0.5s;
      background: rgba(0, 0, 0, 0.3);
      // box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
    .home__section-news-bx {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      height: 100%;
      padding: 20px 10px;
      width: 100%;
      border-radius: 5px;
      .home__section-news-p {
        width: 100%;
        p {
          width: 100%;
          padding: 50px 20px;
        }
      }
      .home__section-news-image {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 20px;
        overflow: hidden;
        img {
          width: 400px;
          background-position: center;
          background-size: cover;
          position: relative;
  
        }
      }
    }

  }
}

@media only screen and (max-width: 700px) {
  .home__section-news-container {
    display: grid;
    .home__section-news-header {
      h1 {
        padding: 0 40px;
      }
    }
    .home__section-news-inner {
      .home__section-news-bx {
        display: grid;
        flex-direction: column;
        .home__section-news-p {
          padding: 0 40px;
        }
        .home__section-news-image {
          img {
            width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .home__section-news-container {
    display: grid;
    .home__section-news-header {

    }
    .home__section-news-inner {
      .home__section-news-bx {
        display: grid;
        flex-direction: column;
        .home__section-news-p {
          font-size: 1em;
        }
        .home__section-news-image {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}