@import './home.scss';
@import './about.scss';
@import './logo.scss';
@import './blog.scss';
@import './fruits.scss';
@import './contact.scss';
@import './mediagallary.scss';
@import './news.scss';
@import './services.scss';
@import './sustainability.scss';
@import './tropicaloil.scss';
@import './homeSection.scss';
@import './footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
 color: white;

 background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

